*{
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-bar{
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo{
  width: 90px;
  height: 40px;
  background-color: #fc3939;
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 20px;
  padding: 5px;
}
.list li{
  list-style: none;
  color: #fc3939;
  font-size: 20px;

}
.list ul{
  display: flex;
  gap: 10px;
}
.nav-btn{
  color: white;
  background-color: #fc3939;
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}
.main{
  background-color: bisque;
  width: 100%;
  height: 100vh;
}
.top-main{
  height: 100%;
  height: 50vh;
  background-color: white;
}
.switsh-div{

}
.top-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.top-text-box{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}
.top-text-box button{
  width: 90px;
  height: 30px;
  border: none;
  color: white;
  background-color: #fb970b;
  margin-top: 20px;
}
.down-box img{
  width: 300px;
  height: 300px;
}
.down-box{
  translate: -50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa2003b;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}